#include "../../version.h"
1 ICON "../../assets/generated/sudokura.ico"
1 VERSIONINFO
 FILEVERSION SUDOKURA_VERSION_MAJOR,SUDOKURA_VERSION_MINOR,SUDOKURA_VERSION_PATCH,0
 PRODUCTVERSION SUDOKURA_VERSION_MAJOR,SUDOKURA_VERSION_MINOR,SUDOKURA_VERSION_PATCH,0
 BEGIN
  BLOCK "StringFileInfo" BEGIN BLOCK "040904E4" BEGIN
   VALUE "FileDescription", "Sudokura"
   VALUE "FileVersion", SUDOKURA_VERSION
   VALUE "ProductVersion", SUDOKURA_VERSION
   VALUE "ProductName", "Sudokura"
   VALUE "OriginalFilename", "sudokura.exe"
  END END
 END
